body{
    position: relative;
width: 1600px;
height: 4105px;

background: #FFFFFF;
}

#first{
    position: absolute;
width: 1600px;
height: 710px;
left: -5px;
top: 0px;

}

#bigimg{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: -44px;
    
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(ales-nesetril-Im7lZjxeLhg-unsplash.jpg);

}
header{
    position: absolute;
height: 85px;
left: 14px;
right: -14px;
top: 0px;
}


#logocont {
position:absolute;
width: 44px;
height: 45px;
left: calc(50% - 44px/2);
top: 25px;


}

#logo{
    position: absolute;
   
}
#webdev {
    position: absolute;
    color:white;
  left:-35%;
    top:50px;
 
}

img {
position: absolute;
}

.links {
    position: absolute;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
    
    opacity: 0.8;
 top: 38px;

    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 140%;
}
#about{
    position: absolute;
    width: 38px;
    height: 21px;
    left: calc(50% - 38px/2 - 279px);
    top: 38px;
    font-weight: bold;
}
#syllabus{
    position: absolute;
    width: 53px;
    height: 20px;
    left: calc(50% - 53px/2 - 148.5px);
    top: 38px;
}

#projects{
    position: absolute;
    width: 52px;
    height: 20px;
    left: calc(50% - 52px/2 + 148px);
    top: 38px;
}

#faq{
    position: absolute;
width: 26px;
height: 20px;
left: calc(50% - 26px/2 + 272px);
top: 38px;
}

#yourlife{

position: absolute;
width: 850px;
height: 75px;
left: calc(50% - 730px/2);
top: calc(50% - 75px/2 - 104.5px);

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 75px;


display: flex;
align-items: center;
text-align: center;
letter-spacing: 4.5px;
text-transform: uppercase;

color: #FFFFFF;

white-space: nowrap;
overflow: hidden;
}

#smalltxt{

    position: absolute;
width: 550px;
height: 50px;
left: calc(50% - 504px/2);
top: calc(50% - 50px/2 - 22px);

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 140%;
/* or 25px */

text-align: center;

color: #FFFFFF;
}
#but{
    display: flex;
flex-direction: row;
padding: 15px 47px;

position: absolute;
width: 100px;
height: 40px;
left: calc(50% - 184px/2);
top: calc(50% - 46px/2 + 56px);

background: #00AFDB;
}
#inbut{
    position: static;
width: 150px;
height: 16px;
left: calc(50% - 90px/2);
top: calc(50% - 16px/2);

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;




flex: none;
order: 0;
align-self: center;
margin: 0px 0px;

white-space: nowrap;
overflow: hidden;
}
#vcont{

    position: absolute;
width: 170px;
height: 20px;
left: calc(50% - 170px/2);
bottom: 90px;
}
#vect{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0px;
    top: 0px;
}
#vect1{
    position: absolute;
width: 10px;
height: 15px;
left: 2px;
top: 0px;
}
#vect2{
    position: absolute;
    left: 58.82%;
    right: 29.41%;
    top: 0%;
    bottom: 0%;
}
#vect3{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0px;
    top: 0px;
}
#el1{
    position: absolute;
width: 20px;
height: 20px;
left: 50px;
top: 0px;

border: 1.3px solid #FFFFFF;
box-sizing: border-box;
   
}

#el2{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 150px;
    top: 0px;
    
    border: 1.3px solid #FFFFFF;
    box-sizing: border-box;
}

a:hover{
    font-size: xx-large;
    text-decoration:darkred underline ;
}
img:hover{
    cursor: pointer;
}

#second{

    position: absolute;
width: 1600px;
height: 842px;
left: 0px;
top: 744px;

}
#bigl{
    position: absolute;
    width: 1600px;
    height: 842px;
    left: 0px;
    top: -9px;
    
    background: #FFFFFF;
}
#cnbl{
    position: absolute;
width: 407px;
height: 233px;
left: 269px;
top: 295px;

}
#bgtxt{
    position: absolute;
width: 367px;
height: 57px;
left: 0px;
top: 0px;

/* h2-24-bold */

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: flex-end;
letter-spacing: 1px;
text-transform: uppercase;

color: #373737;
}
#smltxt{
    position: absolute;
width: 407px;
height: 80px;
left: 0px;
top: 77px;

/* body-14-reg */

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 140%;
/* or 20px */


color: #4E4E4E;
}
#blbut{
    display: flex;
flex-direction: row;
padding: 15px 47px;

position: absolute;
width: 184px;
height: 46px;
left: 0px;
top: 187px;

background: #00AFDB;
}
#txt{
    position: static;
width: 90px;
height: 16px;
left: calc(50% - 90px/2);
top: calc(50% - 16px/2);

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;


/* Inside Auto Layout */

flex: none;
order: 0;
align-self: center;
margin: 0px 0px;
}
#contimg1{
    position: absolute;
width: 407px;
height: 582px;
left: 924px;
top: 120px;

background: url(pexels-thisisengineering-3862131.jpg), url(pexels-thisisengineering-3861964.jpg);
}

#third{

    position: absolute;
width: 1600px;
height: 504px;
left: 0px;
top: 1586px;
}
#thirdcont{
    position: absolute;
width: 1600px;
height: 504px;
left: 0px;
top: 0px;

background: #F5F6F7;
}
#usercard{
    position: absolute;
width: 298px;
height: 175px;
left: 269px;
top: 155px;
}
#userwrapper{
    position: absolute;
width: 45px;
height: 45px;
left: 127px;
top: 0px;
}
#userpic{
    position: absolute;
width: 45px;
height: 45px;
left: 0px;
top: 0px;

background: url(I1-276;1-23.png), #C4C4C4;
}
#ourcom{
    position: absolute;
width: 160px;
height: 20px;
left: calc(50% - 160px/2);
top: 65px;

/* h3-16-upper-bold */

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 2.4px;
text-transform: uppercase;

color: #373737;
}
#ourtxt{
    position: absolute;
width: 298px;
height: 80px;
left: calc(50% - 298px/2);
top: 95px;

/* body-14-reg */

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 140%;
/* or 20px */

display: flex;
align-items: flex-end;
text-align: center;

color: #4E4E4E;
}
#slider{
    position: absolute;
width: 83px;
height: 18px;
right: 269px;
top: 82px;

}
#pagination{
    position: absolute;
visibility: hidden;
width: 37px;
height: 18px;
left: 23px;
top: 0px;

}
#sometxt{
    position: absolute;
width: 11px;
height: 18px;
left: calc(50% - 11px/2 + 13px);
top: calc(50% - 18px/2);

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 100%;
/* identical to box height, or 18px */

display: flex;
align-items: center;

color: #373737;
}
#divider{
    position: absolute;
width: 7px;
height: 14px;
left: 15px;
top: 2px;

}
#divitself{
    position: absolute;
width: 6.71px;
height: 13.9px;
left: calc(50% - 6.71px/2 - 0.14px);
top: calc(50% - 13.9px/2 - 0.05px);

background: #373737;
}
#somemore{
    position: absolute;
width: 11px;
height: 18px;
left: calc(50% - 11px/2 - 13px);
top: calc(50% - 18px/2);

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 100%;
/* identical to box height, or 18px */

display: flex;
align-items: center;
text-align: right;

color: #373737;
}
#arrleft{
    position: absolute;
width: 9px;
height: 14px;
left: 0px;
top: 2px;
}
#arrits{
    position: absolute;
width: 5.66px;
height: 11.31px;
left: 2px;
top: 1.34px;

border: 2px solid #373737;
box-sizing: border-box;
}
#arrright{
    position: absolute;
width: 9px;
height: 14px;
left: 74px;
top: 2px;

}
#arrr{
    position: absolute;
width: 5.66px;
height: 11.31px;
left: 1.34px;
top: 1.34px;

border: 2px solid #373737;
box-sizing: border-box;
}
#slideritems{
    position: absolute;
width: 894px;
height: 244px;
left: 784px;
top: 143px;
overflow-x: scroll;

}
.slitems{
    position: absolute;
width: 407px;
height: 244px;
top: 0px;

}
.rect{
    position: absolute;
width: 407px;
height: 244px;
left: 0px;
top: 0px;

background: url(pexels-thisisengineering-3861958.jpg), url(pexels-thisisengineering-3861972.jpg), #C4C4C4;
}

#fourth{
    position: absolute;
width: 1600px;
height: 842px;
left: 0px;
top: 2090px;

}

#k{
    position: absolute;
width: 407px;
height: 582px;
left: 169px;
top: 120px;

}

#bigl1{
    position: absolute;
    width: 1600px;
    height: 842px;
    left: 0px;
    top: 0px;
    
    background: #FFFFFF;
}
#cnbl1{
    position: absolute;
    width: 407px;
    height: 184px;
    left: 915px;
    top: 319px;
    

}
#bgtxt1{
    position: absolute;
    width: 298px;
    height: 28px;
    left: 0px;
    top: 0px;
    
    /* h2-24-bold */
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 1px;
    text-transform: uppercase;
    
    color: #373737;
    
}
#smltxt1{
    position: absolute;
width: 407px;
height: 60px;
left: 0px;
top: 48px;

/* body-14-reg */

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 140%;
/* or 20px */


color: #4E4E4E;
}
#blbut1{
    display: flex;
    flex-direction: row;
    padding: 15px 47px;
    
    position: absolute;
    width: 180px;
    height: 46px;
    left: 0px;
    top: 138px;
    
    background: #00AFDB;
}
#txt1{
    position: static;
    width: 86px;
    height: 16px;
    left: calc(50% - 86px/2);
    top: calc(50% - 16px/2);
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    
    color: #FFFFFF;
    
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 0;
    align-self: center;
    margin: 0px 0px;
}
#fifth{
    position: absolute;
    width: 1600px;
    height: 524px;
    left: 0px;
    top: 2932px;
    
}
#frwrap{
    position: absolute;
width: 1600px;
height: 600px;
left: 0px;
top: 0px;

}

#formmain{
 
position: absolute;
width: 406px;
height: 104px;
left: 597px;
top: 200px;


}
#subsc{
    position: absolute;
width: 480px;
height: 28px;
left: 13px;
top: 0px;

/* h2-24-bold */

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: flex-end;
text-align: center;
letter-spacing: 1px;
text-transform: uppercase;

color: #FFFFFF;
white-space: nowrap;
overflow: hidden;

}
#formdef{
    position: absolute;
width: 480px;
height: 46px;
left: 14px;
top: 58px;
}
#formfield{
    
    position: absolute;
    width: 340px;
    height: 46px;
    left: 0px;
    top: 0px;
    
    }
    #subm{
        
        position: absolute;
        width: 39px;
        height: 20px;
        left: 24px;
        top: 13px;
        
        /* body-14-reg */
        
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        /* identical to box height, or 20px */
        
        display: flex;
        align-items: flex-end;
        
        color: #373737;
        
        opacity: 0.5;
    }
        #btnsubm{
        position: absolute;
        width: 66px;
        height: 46px;
        left: 340px;
        top: 0px;

}
#checkwrap{
    position: absolute;
width: 16.52px;
height: 13.22px;
left: 25px;
top: 16px;

}
#check-icon{
    position: absolute;
width: 16.52px;
height: 13.22px;
left: calc(50% - 16.52px/2);
top: calc(50% - 13.22px/2);

background: #FFFFFF;
}
#green{
    position: absolute;
width: 66px;
height: 46px;
left: 0px;
top: 0px;

background: #00AFDB;
border-radius: 0px;
}
#rec3{
    position: absolute;
width: 340px;
height: 46px;
left: 0px;
top: 0px;

background: #FFFFFF;
border-radius: 0px;
}


#sixth{
    
position: absolute;
width: 1600px;
height: 464px;
left: 0px;
top: 3456px;
}
#big7{
    position: absolute;
width: 1600px;
height: 464px;
left: 0px;
top: 0px;

background: #F5F6F7;
}

#downloadit{
    position: absolute;
width: 400px;
height: 28px;
left: 675px;
top: 120px;

/* h2-24-bold */

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 28px;
display: flex;
align-items: flex-end;
text-align: center;
letter-spacing: 1px;
text-transform: uppercase;

color: #373737;
}
#lorem{
    position: absolute;
width: 580px;
height: 40px;
left: 560px;
top: 168px;

/* body-14-reg */

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 140%;
/* or 20px */

display: flex;
align-items: center;
text-align: center;

color: #4E4E4E;

}
#btn1{
    display: flex;
flex-direction: row;
padding: 0px;

position: absolute;
width: 250px;
height: 56px;
left: 599px;
top: 238px;

}
#formf{
    position: static;
width: 150px;
height: 46px;
left: 0px;
top: 0px;

background: #00AFDB;
border-radius: 0px;

/* Inside Auto Layout */

flex: none;
order: 0;
align-self: center;
margin: 0px 0px;
}
#applestore{
    position: absolute;
width: 110px;
height: 16px;
left: calc(50% - 180px/2);
top: calc(50% - 16px/2);

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: flex-end;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}
#icons1{
    position: static;
width: 59px;
height: 46px;
left: 150px;
top: 0px;

background: #009CC2;
border-radius: 0px;

/* Inside Auto Layout */

flex: none;
order: 1;
align-self: center;
margin: 0px 0px;
}
#apple{
    position: absolute;
width: 17px;
height: 20px;
left: calc(50% + 100px/2);
top: calc(50% - 20px/2);

}
#combined{
    position: absolute;
width: 15.97px;
height: 18.25px;
left: 0.51px;
top: 0.75px;

background: #FFFFFF;
}
#btn2{
    display: flex;
flex-direction: row;
padding: 0px;

position: absolute;
width: 250px;
height: 56px;
left: 890px;
top: 238px;

}

#formf2{
    position: static;
width: 150px;
height: 46px;
left: 0px;
top: 0px;

background: #00AFDB;
border-radius: 0px;

/* Inside Auto Layout */

flex: none;
order: 0;
align-self: center;
margin: 0px 0px;
}
#applestore2{
    position: absolute;
    width: 110px;
    height: 16px;
    left: calc(50% - 180px/2 - 0.5px);
    top: calc(50% - 16px/2);
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    text-transform: uppercase;
    
    color: #FFFFFF;
    
}
#icons2{
    position: static;
width: 59px;
height: 46px;
left: 127px;
top: 0px;

background: #009CC2;
border-radius: 0px;

/* Inside Auto Layout */

flex: none;
order: 1;
align-self: center;
margin: 0px 0px;
}
#apple2{
    position: absolute;
    width: 20px;
    height: 23px;
    left: calc(50% +150px/2);
    top: calc(50% - 23px/2 + 0.5px);
    

}
#combined2{
    position: absolute;
width: 19.01px;
height: 22.06px;
left: 0.99px;
top: 0.47px;

background: #FFFFFF;
    
}








#foot{
    position: absolute;
width: 1600px;
height: 185px;
left: 0px;
top: 3920px;

background: #000000;
}

#rect7{
    position: absolute;
top: 0px;

}





#logocont2 {
    position:absolute;
    width: 54px;
    height: 55px;
    left: calc(50% - 44px/2);
    top: 60px;
    
    
    }
    
    #logo2{
        position: absolute;
       
    }
  
    
 
    
    .links2 {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        /* identical to box height, or 20px */
        
        
        color: #FFFFFF;

    }
    #navi{
        position: absolute;
        width: 236px;
        height: 20px;
        left: 160px;
         top: 73px;

       }
#aditmnu{
    position: absolute;
width: 236px;
height: 20px;
left: 0px;
top: 0px;

}




    #credits{
        position: absolute;
width: 45px;
height: 20px;
left: 0px;
top: 0px;
        font-weight: bold;
    }
    #privacy{
        position: absolute;
width: 46px;
height: 20px;
left: 85px;
top: 0px;
    }
    
    #ourteam{
        position: absolute;
        width: 65px;
        height: 20px;
        left: 171px;
        top: 0px;
    }


    .mnu{
        position: absolute;
        width: 8px;
        height: 0px;
        top: 5px;
        border: 1px solid #4E4E4E;
        transform: rotate(-90deg);
    }

    #mnu1{
        left: 65px;
    }
    #mnu2{
        left: 151px;
    }




    #copywrap{
        position: absolute;
width: 170px;
height: 20px;
left: 1270px;
top: 73px;
    }



    #copyright{
        position: absolute;
        width: 170px;
        height: 20px;
        left: 5px;
        top: 0px;
    }